<header class="site-header">
  <div class="header-inner">

    <!-- Logo -->
    <a href="{{ routes.root_url }}" class="logo">
      {{ shop.name }}
    </a>

    <!-- Navigation -->
    <nav class="site-nav">
  <a href="{{ routes.root_url }}">Home</a>
  
  <a href="{{ routes.all_products_collection_url }}">Shop</a>

  <a href="{{ routes.pages_url }}/about">About</a>
</nav>


<a href="{{ routes.cart_url }}" class="cart-button">
  Cart ({{ cart.item_count }})
</a>

  </div>
</header>
